pkgbase = ghosty
	pkgdesc = Per-window transparency for KDE Plasma - a cute ghost in your system tray
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/Razaroth/Ghosty
	arch = x86_64
	license = MIT
	makedepends = qt6-base
	depends = qt6-base
	source = ghosty-1.0.1.tar.gz::https://github.com/Razaroth/Ghosty/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = e4dfe8462d40b1f9fb30b8bdbd2eb2b1d237eb9b1a4bd397d31852266fe82e57

pkgname = ghosty
